<link rel="stylesheet" href="~/_css/artigos.css">
<section id="sectionLobby">
    <div class="container">
        <div class="row">
            <div class="col-md-12 capa">
                <h1 class="animation">
                    Logo abaixo você
                    pode
                    ler
                    vários artigos universitários sobre o mundo da "TI". É só escolher e clicar!
                </h1>
            </div>
        </div>
    </div>
</section>
<section id="navArtigos">
    <div class="container linksArtigos">
        <h2 id="tituloLer">Artigos.</h2>
        <div class="row arti">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Governança de TI</h5>
                        <p class="card-text">
                            Alinhamento estratégico e Compliance de TI.
                        </p>
                        <a href="zPresEagil.html" class="btn btn-outline-dark ler">Leia!</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">
                            Governança de TI
                        </h5>
                        <p class="card-text">
                            Certificações ITIL. Quais seus níveis e como conseguir uma?
                        </p>
                        <a href="zItil.html" class="btn btn-outline-dark ler">Leia!</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Redes de computadores</h5>
                        <p class="card-text">
                            História das redes de computadores com a guerra fria.
                        </p>
                        <a href="zHistoriaComp.html" class="btn btn-outline-dark ler">Leia!</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Redes de computadores</h5>
                        <p class="card-text">
                            Relação entre o modelo TCP e UDP.
                        </p>
                        <a href="zTcpUdp.html" class="btn btn-outline-dark ler">Leia!</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Engenharia de software</h5>
                        <p class="card-text">
                            metódos prescritivos VS metologias Àgeis.
                        </p>
                        <a href="zPresEagil.html" class="btn btn-outline-dark ler">Leia!</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Engenharia de software</h5>
                        <p class="card-text">
                            Visão sobre a gerência de configuração.
                        </p>
                        <a href="zGerencia.html" class="btn btn-outline-dark ler">Leia!</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Engenharia de software</h5>
                        <p class="card-text">
                            Opinião sobre a ética na TI..
                        </p>
                        <a href="zEtica.html" class="btn btn-outline-dark ler">Leia!</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Engenharia de software</h5>
                        <p class="card-text">
                            Opinião sobre a ética na TI..
                        </p>
                        <a href="zEtica.html" class="btn btn-outline-dark ler">Leia!</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Engenharia de software</h5>
                        <p class="card-text">
                            Opinião sobre a ética na TI..
                        </p>
                        <a href="zEtica.html" class="btn btn-outline-dark ler">Leia!</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
