<!DOCTYPE html>
<html lang="pt-br">
<head>
    <title>Gambiarra Brasil - @ViewData["Title"]</title>
    <!--Colocando a imagem icone do título.-->
    <link rel="icon" href="_css/_imagens/techsolutions.png">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" crossorigin="anonymous">
    <!-- Css específico da página-->
    <link rel="stylesheet" href="_css/index.css">
</head>
<body>
    <header id="cabecalho">
    </header>
    <main>
        @RenderBody()
    </main>
    @RenderSection("Scripts", required: false)
    <!-- JavaScript (Opcional) -->
    <!-- jQuery primeiro, depois Popper.js, depois Bootstrap JS -->
    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/popper.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
            integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous">
    </script>
    <script src="~/js/site.js"></script>
</body>
</html>

