.container-center {
    display: flex;
    justify-content: center;
}
.alert{
    position: absolute;
    width: auto;
    display: flex;
    justify-content: center;
    top: 19px;
    height: 53px;
    min-width: 300px;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    font-size: 11pt;
    font-style: italic;
}
.close-alert {
    position: absolute;
    border-radius: 100%;
    top: -13px;
    right: -15px;
    width: 30px;
    height: 30px;
    color: white;
}

.alert-success{
    
}
.sucesso{
    background-color: forestgreen;
    border: 1px solid forestgreen;
}
    .sucesso:hover {
        background-color: darkgreen;
        border: 1px solid darkgreen;
    }

.alert-danger{
    color: white;
    background-color: rgb(191, 0, 0);
    border: 1px solid rgb(191, 0, 0);
}
.error {
    color: white;
    background-color: rgb(133, 0, 0);
    border: 1px solid rgb(133, 0, 0);
}

    .error:hover {
        color: white;
        background-color: rgb(83, 0, 0);
        border: 1px solid rgb(83, 0, 0);
    }
