@charset  "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300;1,400&display=swap');
#cabecalho {
    display: none;
    opacity: 0;
}
#InformationAndLogin{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.error-message small {
    position: absolute;
    top: 35px;
    right: 0px;
    font-size: 9pt;
    color: rgb(255, 94, 0);
}
.card {
    height: 360px;
    margin-top: auto;
    margin-bottom: auto;
    padding: 10px;
    background-color: #1c1c1ce9 !important;
    box-shadow: 1px 1px 1px #00000090;
}
.card-header h3 {
    color: #ffffffdc;
}

.card1{
    height: 360px;
}
/*Caixa de entrada de usuário*/
.input-group-prepend span {
    width: 40px;
    background-color: #0d00ff;
    color: #ffffff;
    border: 0 !important;
}
input:focus {
    outline: 0 0 0 0 !important;
    box-shadow: 0 0 0 0 !important;

}
/*Caixa de lembrar de mim*/
.remember {
    color: #ffffffdc;
}
.remember input {
    width: 20px;
    height: 20px;
    margin-left: 15px;
    margin-right: 5px;
}
/*botão Login*/
.login_btn {
    color: #ffffff;
    background-color: #0d00ff;
    width: 110px;
    font-size: 10pt;
    font-weight: bold;
    transition: 0.4s;
}
.login_btn:hover {
    color: #000000;
    background-color: #ffffff;
}
.links {
    color: #ffffffdc;
}
.links a {
    margin-left: 4px;
}
@media (min-width: 100px) {
    .card{
        width: 100%;
    }
    .card1 {
        opacity: 0;
        display: none;
        margin-top: auto;
        margin-bottom: 40px;
        padding: 10px;
        width: 100%;
        border-radius: 5px;
        background-color: #1c1c1ce9 !important;
        box-shadow: 1px 1px 1px #00000090;
        transition: 1s;
    }
    #avisoP{
        color: rgba(255, 255, 255, 0.856);
        text-align: justify;
        margin-top: 20px;
        margin-left: 20px;
        text-shadow: 1px 1px 1px #020011e2;
    }
    #facePagment{
        text-decoration: none;
    }
    #facePagment:hover{
        text-decoration:  underline #330000;
    }
    .menu{
        background-color: #131629ee;
        border-radius: 20px;
        margin-left: 5px;
    }
    #section-campeo{
        margin-top: 15%;
        padding-top: 5%;
        height: 46em;
        background-color: rgb(22, 22, 22) !important;
    
    }
    .textAB {
        color: #ffffffdc;
        margin: auto;
        width: 90%;
        margin-top: 20px;
        margin-bottom: 20px;
        background-color: rgb(44, 44, 44) !important;
        border-radius: 10px;
        padding: 10px;
    }
}

@media (min-width: 576px) {
    #section-campeo{
        margin-top: 15%;
        padding-top: 5%;
        height: 41em;
        background-color: rgb(22, 22, 22) !important;
    }

}

@media (min-width: 768px) {
    .card, .card1 {
        width: 400px;
    }
    .card1 {
        display: grid;
        opacity: 1;
        margin-top: auto;
        margin-bottom: auto;
        margin-right: 20px;
        padding: 10px;
    }
    /* background do menu transparente.*/
    .menu{
        background-color: #07001f00;
    }
}

@media (min-width: 902px) {
    .card1 {
        margin-top: auto;
        margin-bottom: auto;
        padding: 10px;
    }
    .textAB {
        color: #ffffffdc;
        margin: auto;
        width: 45%;
        margin-top: 30px;
        margin-bottom: 30px;
        background-color: rgb(44, 44, 44) !important;
        border-radius: 10px;
        padding: 20px;
    }
}

@media (min-width: 1200px) {
    #section-campeo{
        margin-top: 15%;
        padding-top: 5%;
        height: 36em;
        background-color: rgb(22, 22, 22) !important;
    
    }
}