.modal-header {
    background-color: rgb(255, 255, 255);
    color: rgb(108, 108, 108);
    font-family: Arial, sans-serif;
}
.modal-title {
    font-size: 11pt;
    font-weight: bold;
    font-synthesis-weight: unset;
}

.modal-body {
    font-family: Arial, sans-serif;
    font-size: 10pt;
    color: rgb(108, 108, 108);
}

.modal-footer {
    display: flex;
    justify-content: center;
}
.modal-span{
    height: 28px;
    font-size: 10pt;
}
.modal-span span{
    background-color: darkviolet;
}
.btn-modais {
    margin-left: 2px;
    margin-right: 2px;
    font-size: 9pt;
    min-width: 120px;
    padding-left: 15px;
    padding-right: 15px;
}

.voltar-modal {
    background-color: red;
    color: white;
}

    .voltar-modal:hover {
        background-color: darkred;
    }

.sim-button {
    background-color: blue;
    color: white;
}

    .sim-button:hover {
        background-color: darkblue;
    }
