<link rel="stylesheet" href="~/_css/adicionarTexto.css">
<section id="sectionLobby">
    <div class="container">
        <div class="row">
            <div class="col-md-12 capa">
                <h1 class="animation">
                    Faça parte dessa iniciativa! Adicione sua monografia, artigos técnicos e dissertações
                    argumentativas agora, é muito rápido.
                </h1>
            </div>
        </div>
    </div>
</section>
<section id="add">
    <h2 id="tituloAjude1">Adicionar texto > Adicionar.</h2>
    <div class="row">
        <div class="col-md-5 click">
            <h1 id="perso">Clique aqui e adicione seus artigos!</h1>
            <p style="text-align: center; margin-top: 10px;">
                <a class="btn btn-outline-dark btn-lg text-center botao1" asp-action="ArtigoAdd" asp-controller="AdicionarArtigo">Adicionar</a>
            </p>
        </div>
    </div>
</section>
<section id="dissertacao">
    <h2 id="tituloAjude">Adicionar texto > Por que ajudar e agradecimentos.</h2>
    <div class="container artigo">
        <div id="text-1">
            <h1>Ajude o projeto com artigos, monografias e redações.</h1>
            <p>
                O projeto gambiarraBrasil contém artigos desenvolvidos por mim e colegas de faculdade,
                mas
                não
                temos capacidade financeira e tempo para desenvolver textos abordando as diferentes
                temáticas da
                área de TI. Por conta dessa problemática, a equipe criativa de projetos teve a brilhante
                ideia
                de analisar e publicar artigos de nossos leitores. No qual após você clicar na opção
                adicionar texto, o navegador irá te direcionar para o preenchimento de um formulário de
                artigos e o desenvolvimento do mesmo, no qual você pode colocar informações sobre você, com
                o objetivo de que outros leitores saibam que é você e qual o seu artigo. Além disso, otimize o
                seu conhecimento através do desenvolvimento de
                artigos, isto é, ao colocar em prática, automaticamente será ampliado.
            </p>
        </div>
        <div id="text-2">
            <br>
            <h1>Esse projeto não teria ganhado corpo sem a ajuda dele.</h1>
            <p>
                O projeto gambiarraBrasil não poderia ter sido desenvolvido sem a ajuda do professor Gustavo
                Guanabara
                e sua equipe. Portanto, estou fazendo questão de destinar um bloco do site para agradecer o
                mesmo. <br>
                Para
                aqueles que não saiba, o professor Gustavo Guanabara é dono da plataforma CursoEmVídeo. Na
                qual,
                ele com o
                apoio de sua equipe, faz cursos que estão relacionados ao
                desenvolvimento
                de software, e sites. <br> Diferentes cursos relacionados ao mundo de desenvolvimento
                estão
                disponíveis na plataforma do professor Guanabara. Detalhe, todos os cursos são
                gratuitos
                e de
                ótima qualidade. Acesse agora a plataforma <a href="https://www.cursoemvideo.com/">
                    Curso em
                    video
                </a>.
            </p>
        </div>
    </div>
</section>