@model Usuario
<nav class="navbar navbar-expand-md navbar-light navbar-transparent">
    <div class="container">
        <a href="https://open.spotify.com/" class="navbar-brand">
            <img src="~/_css/_imagens/techsolutions.png" width="102">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nav_principal"
                aria-controls="nav_principal" aria-expanded="false" aria-label="Alterna navegação">
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse menu" id="nav_principal">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Home" asp-action="Index">Início</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="AdicionarArtigo" asp-action="Index">Adicionar texto</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="LerArtigos" asp-action="Index">Ler artigos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="MinhasPublicacoes" asp-action="Index" asp-route-id="@Model.Id">Minhas publicações</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Doar" asp-action="Index">Doar</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Outros Projetos
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="https://spotifyneto.netlify.app/">Spotify - Neto</a>
                        <a class="dropdown-item" href="https://ddtankmester337.netlify.app/">
                            Ddtank 337 -
                            Neto
                        </a>
                    </div>
                </li>
                <li class="nav-item divisor">
                </li>
                <li class="nav-item dropdown" style="margin-left: 5px;">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-circle-user"></i> @Model.Name
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" style="font-size: 10pt;">
                        <a class="dropdown-item" asp-action="Sair" asp-controller="Logar"><i class="fa fa-right-from-bracket"></i> Sair</a>
                        <a class="dropdown-item" href="https://ddtankmester337.netlify.app/">
                            <i class="fa fa-edit"></i> Alterar dados
                        </a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>
