@if (TempData["Erro"] != null) {
    <div class="container-center">
        <div class="alert alert-danger" role="alert">
            @TempData["Erro"]
            <button type="button" class="btn btn-danger btn-sm close-alert error" aria-label="Close"><i class="fa fa-xmark"></i></button>
        </div>
    </div>
}
else if (TempData["Sucesso"] != null) {
    <div class="container-center">
        <div class="alert alert-success" role="alert">
            @TempData["Sucesso"]
            <button type="button" class="btn btn-danger btn-sm close-alert sucesso" aria-label="Close"><i class="fa fa-xmark"></i></button>
        </div>
    </div>
}
<section id="sectionLobby">
    <div class="container">
        <div class="row">
            <div class="col-md-12 capa">
                <h1 class="animation">
                    A melhor plataforma para ler artigos técnicos relacionados ao mundo da tecnologia da
                    informação. Não perca
                    tempo, leia agora!
                </h1>
            </div>
        </div>
    </div>
</section>
<section id="dissertacao">
    <h2 id="titulo">Artigos > tecnologia da informação.</h2>
    <div class="container artigo">
        <header>
            <h1>
                Conheça os arquétipos de TI. Estruturas para tomadas de decisão no setor da tecnologia da
                informação.
            </h1>
        </header>
        <article>
            <header>
                <h2>INTRODUÇÃO</h2>
            </header>
            <p>
                Devido ao aumento do valor entregue pelo setor da tecno&shy;logia da informação em
                organizações privadas ou publicas, aumentou a responsa&shy;bilidade, riscos, custos, e
                assim
                por diante. Com o objetivo de entregar valor com menos erros, foi necessário estruturar
                as tomadas de decisões de negócio que envolve a TI, através de arqué&shy;tipos de TI,
                isto
                é,
                modelos para tomada de decisão semelhante com modelos usados por dife&shy;rentes países
                ao longo da história. Os arqué&shy;tipos de TI como já dito, se baseiam em modelos
                políticos
                usados ao longo da história, ou seja, definindo qual setor ou setores toma à decisão e
                como deve ser tomada, avaliando contextos especí&shy;ficos da tomada de decisão. O
                objetivo deste trabalho é apresen&shy;tar os seis arqué&shy;tipos de TI.
            </p>
        </article>
        <article>
            <header>
                <h2>MONARQUIA DE NEGÓCIO</h2>
            </header>
            <p>
                A monarquia de negócios é uma estrutura para tomadas de decisões do setor de
                tecno&shy;logia da informação, nas quais essas decisões são tomadas por grupo de
                executivos de negócio do alto escalão da organi&shy;zação. Deve ser pautado que os
                efeitos
                das decisões abrangem em um nível organiza&shy;cional, devido a isso, o modelo trabalha
                com decisões que afetam a empresa como um todo. Em suma, as decisões tomadas
                neste modelo recebe apoio/contri&shy;buição de represen&shy;tantes de outros
                departa&shy;mentos
                da
                organização, de acordo com o seu relacio&shy;namento na tomada de decisão. Por exemplo,
                uma organi&shy;zação x, planeja investir recursos no setor tecnoló&shy;gico, na qual,
                para
                tomar
                a
                decisão são necessárias informações ou talvez opiniões do departamento de finanças e
                tecnológico da empresa, serão eleitos um represen&shy;tante de cada departa&shy;mento,
                para
                auxiliar os executivos na tomada de decisão. Podem-se definir os executivos como
                monarcas autocratas e os represen&shy;tantes como conselheiros dos mesmos.
            </p>
        </article>

        <article>
            <header>
                <h2>MONARQUIA DE TI</h2>
            </header>
            <p>
                A monarquia de tecnologia da informação tem sua estrutura parecida com a monarquia
                de negócios, mas têm diferenças importantes a ser citadas. Enquanto monarcas de
                negócios tomam decisões no nível organizacional, normalmente envolvendo decisões de
                princípios da TI e investimento na TI. Os monarcas de tecnologia tomam decisões
                envolvendo arquitetura de TI e infraestrutura de TI, tomadas essas que são mais
                específicas do departamento de TI. Outro ponto relevante é a definição de quem toma
                decisões nessa estrutura, na qual a tomada de decisão fica a cargo de profissionais de
                tecnologia.
            </p>
        </article>

        <article>
            <header>
                <h2>FEUDALISMO </h2>
            </header>
            <p>
                Baseado nas tradições da Inglaterra feudal, onde os príncipes e as princesas ou
                cavaleiros por eles escolhidos tomavam suas próprias decisões otimizando suas
                necessidades locais. No caso da Governança de TI, a entidade feudal é tipicamente a
                unidade de negócio, a região ou função. De modo geral, esse modelo não se mostrou
                muito comum, porque a maioria das empresas estava em busca de sinergia entre
                unidades de negócio. Esse modelo não facilita a tomada de decisão da empresa como
                um todo.
            </p>
        </article>

        <article>
            <header>
                <h2>FEDERALISMO</h2>
            </header>
            <p>
                O modelo tem uma longa tradição nos governos, tentam equilibrar as responsabilidades
                e cobranças de múltiplos órgãos de governo, como os estados. Sua utilidade está em
                negociar tanto os interesses da organização sede como também os interesses das
                unidades de negócios. Os representantes das unidades no modelo federalista podem ser
                os seus líderes ou os detentores de processos de negócios. Este modelo e considerado o
                mais difícil dos arquétipos para tomada de decisões, pois os líderes das empresas tem
                preocupações deferentes em relação aos líderes de unidades de negócio, na maioria dos
                casos as unidades de negócio maiores e mais poderosas ganham mais atenção e tem
                maior influência sobre as decisões, em consequência disso as unidades menores sempre
                estão insatisfeitas. Empresas que decidem usar essa estrutura de governança costumam
                fazer o uso de equipes administrativas e comitês executivos para resolver conflitos de
                interesses.
            </p>
        </article>

        <article>
            <header>
                <h2>DUOPÓLIO DE TI</h2>
            </header>
            <p>
                O duopólio é diferente do fede­ralismo no sentido de que o arranjo federalista tem
                sempre
                represe­ntação tanto corporativa como local, já o duopólio tem uma ou outra, mas nunca
                às
                duas
                represen­tações, e inclui, invariavelmente, profissionais de TI. Esse tipo de estrutura
                é
                bastante
                utilizados pelas empresas nas tomadas de decisões no que diz respeito às necessidades de
                aplicações
                de negócio e investimentos em TI, também para promover decisões sobre arquitetura e
                infraestrutura.
            </p>
        </article>

        <article>
            <header>
                <h2>ANARQUIA </h2>
            </header>
            <p>
                Em uma anarquia de TI, indivíduos ou pequenos grupos tomam suas próprias decisões com
                base
                somente em suas necessidades locais. As anarquias são a ruína de muitos grupos de TI,
                sendo caras de sustentas e perseverar. Anarquias formalmente sancionadas são raras,
                mas aparecem nos casos em que se observa especificamente um cliente individual.
            </p>
        </article>

        <article>
            <header>
                <h2>CONCLUSÃO</h2>
            </header>
            <p>
                Com o avanço da tecnologia, as empresas precisam acompanhar essa evolução
                constante e para isso é necessário que tenham profissionais capacitados a entender os
                objetivos e missões da organização e planejamento de TI, por isso é importante que haja
                a governança de TI, com ênfase nos arquétipos porque além de participar nas tomadas
                de decisões, auxilia em processos de alinhamento e na comunicação entre os
                participantes do processo em questão.
            </p>
        </article>
    </div>
</section>