<link rel="stylesheet" href="~/_css/doarParaSite.css">
<section id="sectionLobby">
    <div class="container">
        <div class="row">
            <div class="col-md-12 capa">
                <h1 class="animation">Saiba mais sobre o projeto gambiarra Brasil. Projeto esse que tem como objetivo principal a democratização de conteúdos tecnológicos!</h1>
            </div>
        </div>
    </div>
</section>
<section id="add">
    <h2 id="tituloAjude">Doar para o site > Doar.</h2>
    <div class="row">
        <div class="col-md-5 click">
            <h1 id="perso">Clique no botão abaixo para doar!</h1>
            <p style="text-align: center; margin-top: 10px;">
                <a class="btn btn-outline-dark btn-lg text-center botao1" href="https://www.paypal.com/donate/?hosted_button_id=4M9PAR6F9RKE4">Doar</a>
            </p>
        </div>
    </div>
</section>
<section id="dissertacao">
    <h2 id="tituloAjude">Doar para o site > Por que doar?</h2>
    <div class="container artigo">
        <div id="text-1">
            <h1>Saiba mais sobre o projeto de gambiarra Brasil.</h1>
            <p>
                O gambiarra Brasil é um projeto pessoal para aprendizado de tecnologias web, o objetivo do
                mesmo
                é aplicar todo o conhecimento obtido através de cursos do mundo do desenvolvimento (WEB). O
                projeto teve seu início após eu (Antonio) decidir que queria aprender sobre o mundo do
                desenvolvimento (WEB) e para que todo o conhecimento obtido através de cursos seja melhor
                aproveitado, foi necessário iniciar um projeto pessoal, no qual eu iria explorar a
                criatividade
                e o conhecimento obtido. Deixo um conselho, caso você que esteja lendo este texto e está
                aprendendo a programar através de linguagens de programação ou codificar documentos em HTML.
                Não perca tempo, inicie um projeto
                pessoal para aproveitar o máximo de todas tecnologias que você estudou.
            </p>
            <p>
                No entanto, o projeto gambiarraBrasil não funciona sozinho, para que eu continue investido
                tempo
                nele, com objetivo de implementar melhorias ou até alteração do objetivo em si do site, é
                preciso de
                money,
                e eu
                sei que você pode ajudar! Por esse motivo, eu criei essa pagina para mendigar doações. No
                botão
                logo
                abaixo contém um link para pagamentos. Você pode doar o valor que quiser, é só clicar! Após
                você
                clicar, o site irá te direcionar para a ferramenta de doações do paypal, que aceita doações
                por
                meio
                de cartões de créditos, e claro, pagamentos por via paypal. Uma forma de pagamento que
                garante à
                segurança de dados dos usuários nas doações para o site.
            </p>
        </div>
    </div>
</section>